<% provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome to my Home Page</h1>
  <h2>
    This application is connected with
    <a href="http://www.rignum.com">One more website</a>
    sample application.
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("clone.png", alt: "clone logo"),
         "http://www.rignum.com" %>
